# Ignore the actual values (The "Plugs")
*.tfvars
*.tfvars.json

# Ignore the local "Brain" (The temporary files Terraform creates)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# Ignore system files
.DS_Store
thumbs.db